<div class="container" ng-controller="programCtrl" ng-init="getAllPrograms()">
	<br/>
	<h1 class="panel-heading" class="glyphicon glyphicon-add">PROGRAMS</h1>
	<br/><br/><br/><br/>
	<form class="form-inline" name="programForm">
  		<div class="form-group">
    		<input  type="text" class="form-control" ng-model="program.name" placeholder="Enter Program Name" style=" margin-right:15px; " name="name" required>
            <p ng-show="programForm.name.$invalid && !programForm.name.$pristine && !programForm.name.$touched" class="help-block">Enter a valid program name!</p>

    		<input type="text" class="form-control" ng-model="program.alias" placeholder="Enter Program Alias" name="alias" required>
            <p ng-show="programForm.alias.$invalid && !programForm.alias.$pristine && !programForm.alias.$touched" class="help-block">Enter a valid program alias!</p>
    	</div>
    	<br></br>
  		<div class="form-actions">
  			<button type="submit" ng-click="programForm.$valid && addNewProgram(program, programForm.$valid)" class="btn btn-primary" style="float:center">Add New Program</button>
  		</div>
	</form>

	<br/><br/>

        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                	<th>#
                        <span class="glyphicon sort-icon"></span>
                    </th>            
                    <th ng-click="sort('programName')">Program Name
                        <span class="glyphicon sort-icon" ng-show="sortKey=='programName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('programAlias')">Program Alias
                        <span class="glyphicon sort-icon" ng-show="sortKey=='programAlias'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ></th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="program in programs|orderBy:sortKey:reverse|itemsPerPage:15">
                	<td>{{$index+1}}</td>
                    <td>{{program.programName}}</td>
                    <td>{{program.programAlias}}</td>
                    <td><a style="font-size: 17px;" ng-click="deleteProgram(program)" class="glyphicon glyphicon glyphicon-trash"></a></td>

                </tr>
            </tbody>
        </table> 
        <dir-pagination-controls
            max-size="15"
            direction-links="true"
            boundary-links="true" >
        </dir-pagination-controls>
<!-- <div class="row">
			<div class="col-sm-4 col-sm-offset-4">

				<div class="checkbox" ng-repeat="program in programs">
					<label>
						<input type="checkbox" ng-click=""> {{ program.programName }}
					</label>
				</div>

				<p class="text-center" ng-show="loading">
					<span class="fa fa-spinner fa-spin fa-3x"></span>
				</p>

			</div> 
		</div> -->

		<!-- FORM TO CREATE TODOS 
		<div id="todo-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form>
					<div class="form-group">

						BIND THIS VALUE TO formData.text IN ANGULAR 
						<input type="text" class="form-control input-lg text-center" placeholder="I want to buy a puppy that will love me forever" ng-model="formData.text">
					</div>

					 createToDo() WILL CREATE NEW TODOS 
					<button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
				</form>
			</div>
		</div> -->
</div>