<div class="container" ng-controller="singlePatientCtrl" ng-init='getUrlParamtoViewPatient()'>
    <h1 class="panel-heading" class="glyphicon glyphicon-add">PATIENT REPORT</h1>
    
    <div class="panel-body" ng-init="viewlistofPatientEntries()">
        <table class="table" style="width: auto; margin-left: auto; margin-right: auto;">
        <tr>
            <td><label style="float:right">Patient Name:  </label></td>
            <td><label>{{p_first_name}} {{p_last_name}}</label></td>
        </tr>
        <tr>
            <td><label style="float:right">Date of Birth: </label></td>
            <td><label>{{p_dob | date}}</label></td>
        </tr>
        <tr>
            <td><label style="float:right">Program: </label></td>
            <td><label>{{p_program.join(', ')}}</label></td>
        </tr>
        </table>   
    </div>

    <div align="left" style="padding-bottom: 12px; padding-right: 12px;">
        <form class="form-inline">
            <div class="form-group has-feedback">
                <input type="text" ng-model="searchText" class="form-control" placeholder="Search"> 
                    <i class="glyphicon glyphicon-search form-control-feedback"></i>
            </div>
                <input class="btn btn-primary" style="width:60px; margin-left:10px;"  value="PDF" ng-click="open(p_event_entries)">
                <input class="btn btn-primary" style="width:60px;" ng-csv="p_event_entries" csv-header="['Date', 'Type', 'Info', 'Amount', 'Notes', 'Details']" filename="{{p_id}}_{{p_first_name}}{{p_last_name}}.csv" value="CSV">
       <!--          <span class="glyphicon glyphicon-share-alt"></span> 
   ng-click='generatePdf(p_event_entries)'-->
        </form>
    </div >
        <table class="table table-bordered table-striped table-hover" id="reportTable">
            <thead>
                <tr>
                    <th ></th>
                    <th ng-click="sort('event_timestamp')">Date
                        <span class="glyphicon sort-icon" ng-show="sortKey=='event_timestamp'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('category')">Type
                        <span class="glyphicon sort-icon" ng-show="sortKey=='category'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('event_name')">Info
                        <span class="glyphicon sort-icon" ng-show="sortKey=='event_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('amount')">Amount
                        <span class="glyphicon sort-icon" ng-show="sortKey=='amount'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('event_notes')">Notes
                        <span class="glyphicon sort-icon" ng-show="sortKey=='event_notes'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('event_details')">Details
                        <span class="glyphicon sort-icon" ng-show="sortKey=='event_details'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('message')">Message
                        <span class="glyphicon sort-icon" ng-show="sortKey=='message'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="entry in p_event_entries|orderBy:'-event_timestamp':reverse|filter:searchText|itemsPerPage:15">
                    <td >
                        <a style="font-size: 20px;" ng-if="!entry.read" ng-click="readEntry(entry)" class="glyphicon glyphicon-check">
                            <span class="badge alert-warning">New!</span>
                        </a>
                        <a style="font-size: 20px;" ng-if="entry.read" ng-click="readEntry(entry)" class="glyphicon glyphicon-unchecked">
                        </a>
                    </td> 
                    <td>
                        <span ng-if="!entry.read"><b>{{entry.event_timestamp | date}}</b></span>
                        <span ng-if="entry.read">{{entry.event_timestamp | date}}</span>
                    </td>
                    <td>
                        <span ng-if="!entry.read"><b>{{entry.category}}</b></span>
                        <span ng-if="entry.read">{{entry.category}}</span>
                    </td>
                    <td>
                        <span ng-if="!entry.read"><b>{{entry.event_name}}</b></span>
                        <span ng-if="entry.read">{{entry.event_name}}</span>
                    </td>
                    <td ng-if="entry.category=='Medication'">
                        <span ng-if="!entry.read"><b>{{entry.medicine_amount}} {{entry.medicine_type}}</b></span>
                        <span ng-if="entry.read">{{entry.medicine_amount}} {{entry.medicine_type}}</span>             
                    </td>
                    <td ng-if="entry.category=='Activity'">
                        <span ng-if="!entry.read"><b>{{entry.activity_time}} Minutes </b></span>
                        <span ng-if="entry.read">{{entry.activity_time}} Minutes </span>             
                    </td>
                    <td ng-if="entry.category=='Reading'">
                        <span ng-if="!entry.read"><b>{{entry.reading_value}} mg/dL</b></span>
                        <span ng-if="entry.read">{{entry.reading_value}} mg/dL</span>             
                    </td>
                    <td ng-if="entry.category=='Food'">
                        <span ng-if="!entry.read"><b>{{entry.meal_amount}} Calories</b></span>
                        <span ng-if="entry.read">{{entry.meal_amount}} Calories</span>             
                    </td>
                    <td>
                        <span ng-if="!entry.read"><b>{{entry.event_notes}}</b></span>
                        <span ng-if="entry.read">{{entry.event_notes}}</span>
                    </td>
                    <td>
                        <span ng-if="!entry.read"><b>{{entry.event_details}}</b></span>
                        <span ng-if="entry.read">{{entry.event_details}}</span>
                    </td>
                    <td >
                        <span ng-if="!entry.read"><b>{{entry.message}}</b></span>
                        <span ng-if="entry.read">{{entry.message}}</span>
                    </td>
            </tbody>
        </table> 
        <dir-pagination-controls
            max-size="15"
            direction-links="true"
            boundary-links="true" >
        </dir-pagination-controls>
    </div>
</div>
<!-- Ends Controller -->
