<div class="container" style="padding-top:80px;">        
    <div class="jumbotron text-center">
        <h1 class="heading">
            <font color="#FFFFF" >G2L BUDDY</h1>
    </div>        <!--  body { padding-top:80px; } -->
    <br/><br/>
    <div>
        <a class="button btn-primary btn-lg" href="#/signup">
            <span class="glyphicon glyphicon-user">
                REGISTER</a>
        <a class="button btn-primary btn-lg" href="#/login" style="margin-left: 80px">
            <span class="glyphicon glyphicon-log-in">
                LOGIN</a>
    </div>
</div>
